---
title: Custom Content
listed: false
published: true
handle: custom-content
---
{% extends 'layouts/default' %}

{% block main %}
<div class="container">
  {% section 'custom_content' %}
</div>
{% endblock %}
